@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar for horizontal chips on mobile */
::-webkit-scrollbar {
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.primary.DEFAULT');
  border-radius: 2px;
}
